@model IEnumerable<infnet_bl6_fdaN_tp3.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
}

<h1>Pessoas</h1>

<p>
    <a asp-action="Incluir">Incluir</a>
</p>
@using (Html.BeginForm())
{
    <p>
        Encontrar pessoa: @Html.TextBox("nomePesquisa")
        <input type="submit" value="Pesquisar" /></p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiasFaltantes)
            </th>
            <th>Açoes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiasFaltantes)
                </td>
                <td>
                    <a asp-action="Alterar" asp-route-id="@item.PessoaId">Alterar</a> |
                    <a asp-action="Exibir" asp-route-id="@item.PessoaId">Exibir</a> |
                    <a asp-action="Excluir" asp-route-id="@item.PessoaId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
